/* ========================= Tailwind Base ========================= */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================= Theme Variables ========================= */
@layer base {
  :root {
    /* === Brand Palette (HSL space-separated) === */
    --color-ruby: 0 100% 68%;
    --color-ruby-shade: 343 58% 26%;
    --color-ruby-tint: 0 100% 93.5%;

    --color-amethyst: 258 100% 73%;
    --color-amethyst-shade: 248 45% 27%;
    --color-amethyst-tint: 259 100% 94.5%;

    --color-emerald: 171 66% 45%;
    --color-emerald-shade: 192 100% 14%;
    /* --color-emerald-tint: 171 33% 89%; */
    --color-emerald-tint: 172 55.56% 89.41%;
    /* --color-emerald: #2cc4ae;
    --color-emerald-shade: #003947;
    --color-emerald-tint: #d5f3ef; */

    --color-pearl: 0 100% 95%;
    --color-diamond: 0 0% 100%;
    --color-obsidian: 231 31% 12%;

    /* === Semantic Tokens === */
    --primary: var(--color-ruby);
    --primary-shade: var(--color-ruby-shade);
    --primary-tint: var(--color-ruby-tint);

    --secondary: var(--color-amethyst);
    --secondary-shade: var(--color-amethyst-shade);
    --secondary-tint: var(--color-amethyst-tint);

    --tertiary: var(--color-emerald);
    --tertiary-shade: var(--color-emerald-shade);
    --tertiary-tint: var(--color-emerald-tint);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --dark: var(--color-obsidian);
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    /* === Charts / Data Viz === */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* === Other === */
    --radius: 0.5rem;
    --font-work-sans: "Work Sans", sans-serif;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: var(--color-ruby);
    --primary-shade: 327 100% 21%;
    --primary-tint: 0 73% 91%;
    --primary-foreground: 0 0% 9%;

    --secondary: var(--color-amethyst);
    --secondary-foreground: 0 0% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* ========================= Reset & Base ========================= */

* {
  /* list-style: none; */
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font: var(--font-base-size //adjust this value to your desired font size); */
}

body {
  font-family: var(--font-work-sans);
}

/* ========================= Components ========================= */
@layer components {
  .card {
    @apply bg-card text-card-foreground rounded-[20px] shadow px-6 py-4 my-4;
  }
}

/* ========================= Utilities ========================= */
@layer utilities {
  /* ========================================== OVER FLOW  */

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-track {
    scrollbar-track-color: inherit;
  }

  .scrollbar-thumb {
    scrollbar-color: inherit;
  }
  .flex .overscroll-behavior-contain {
    overscroll-behavior: contain;
  }
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

.h3-bold {
  font-weight: 500;
  font-size: 20px;
}

.p-medium-16 {
  font-size: 16px;
  font-weight: 500;
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
  cursor: pointer;
}

.react-datepicker__day--selected {
  background-color: var(--secondary) !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: var(--secondary) !important;
}

/* ========================================== CUSTOM CLIP STYLES NAVBAR  */
.custom-clip-wrapper {
  box-shadow: 60px 20px 50px rgba(0, 0, 0, 0.3);
}

.custom-clip {
  position: relative;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="0,0 100,1 100,9 0,10" fill="white"/></svg>')
    no-repeat;
  background-size: cover;
  height: 100px;
  filter: drop-shadow(
    10px 10px 30px rgba(0, 0, 0, 0.15)
  ); /* Apply shadow with filter */
  overflow: hidden; /* Ensure clipping */
}

.custom-clip::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  z-index: -1;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* TYPOGRAPHY */
/* 64 */
.h1-bold {
  @apply text-[40px] font-bold leading-[48px] lg:text-[48px] lg:leading-[60px] xl:text-[58px] xl:leading-[74px];
}

/* 40 */
.h2-bold {
  @apply text-[32px] font-bold leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
}

.h2-medium {
  @apply text-[32px] font-medium leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
}

/* 36 */
.h3-bold {
  @apply text-[28px] font-bold leading-[36px] md:text-[36px] md:leading-[44px];
}

.h3-medium {
  @apply text-[28px] font-medium leading-[36px] md:text-[36px] md:leading-[44px];
}

/* 32 */
.h4-medium {
  @apply text-[32px] font-medium leading-[40px];
}

/* 28 */
.h5-bold {
  @apply text-[28px] font-bold leading-[36px];
}

/* 24 */
.p-bold-24 {
  @apply text-[24px] font-bold leading-[36px];
}

.p-medium-24 {
  @apply text-[24px] font-medium leading-[36px];
}

.p-regular-24 {
  @apply text-[24px] font-normal leading-[36px];
}

/* 20 */
.p-bold-20 {
  @apply text-[20px] font-bold leading-[30px] tracking-[2%];
}

.p-semibold-20 {
  @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
}

.p-medium-20 {
  @apply text-[20px] font-medium leading-[30px];
}

.p-regular-20 {
  @apply text-[20px] font-normal leading-[30px] tracking-[2%];
}

/* 18 */
.p-semibold-18 {
  @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
}

.p-medium-18 {
  @apply text-[18px] font-medium leading-[28px];
}

.p-regular-18 {
  @apply text-[18px] font-normal leading-[28px] tracking-[2%];
}

/* 16 */
.p-bold-16 {
  @apply text-[16px] font-bold leading-[24px];
}

.p-medium-16 {
  @apply text-[16px] font-medium leading-[24px];
}

.p-regular-16 {
  @apply text-[16px] font-normal leading-[24px];
}

/* 14 */
.p-semibold-14 {
  @apply text-[14px] font-semibold leading-[20px];
}

.p-medium-14 {
  @apply text-[14px] font-medium leading-[20px];
}

.p-regular-14 {
  @apply text-[14px] font-normal leading-[20px];
}

/* 12 */
.p-medium-12 {
  @apply text-[12px] font-medium leading-[20px];
}

.p-regular-12 {
  @apply text-[12px] font-normal leading-[20px];
}

.p-regular-10 {
  @apply text-[10px] font-normal leading-[20px];
}
